<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
		<string>ChangeLog</string>
		<string>Button</string>
		<string>ColourWheel</string>
		<string>ColourPicker</string>
		<string>NumberSpinner</string>
		<string>CubicSelector</string>
		<string>PictureBrowser</string>
		<string>Keyboard</string>
		<string>Keypad</string>
		<string>Menu</string>
		<string>Slider</string>
		<string>PalmRest</string>
		<string>FontPicker</string>
		<string>ListSelector</string>
		<string>UI</string>
	</array>
	<key>Description</key>
	<string>No description available</string>
</dict>
</plist>
